<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a {% if page.url=="/communication.html" %}class="nav-link active" {% else %}class="nav-link" {% endif %}
                        href="./communication">Communication</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Other Fields
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a {% if page.url=="/politics.html" %}class="dropdown-item active" {% else %}class="dropdown-item" {% endif %} href="./politics">Politics</a>
                            <a {% if page.url=="/po.html" %}class="dropdown-item active" {% else %}class="dropdown-item" {% endif %} href="./po">Public Opinion</a>
                            <a {% if page.url=="/psych.html" %}class="dropdown-item active" {% else %}class="dropdown-item" {% endif %} href="./psych">Psychology</a>
                            <a {% if page.url=="/sociology.html" %}class="dropdown-item active" {% else %}class="dropdown-item" {% endif %} href="./sociology">Sociology</a>
                            <a {% if page.url=="/multidisciplinary.html" %}class="dropdown-item active" {% else %}class="dropdown-item" {% endif %} href="./multidisciplinary">Multidisciplinary</a>
                        </ul>
                    </li>
                </li>
                <li class="nav-item">
                    <a {% if page.url=="/preprints.html" %}class="nav-link active" {% else %}class="nav-link" {%
                        endif %} href="./preprints">Preprints</a>
                </li>
                <li class="nav-item">
                    <a {% if page.url=="/must_read.html" %}class="nav-link active" {% else %}class="nav-link" {%
                        endif %} href="./must_read">🤖 Must Read</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a {% if page.url=="/subscribe.html" %}class="nav-link active" {% else %}class="nav-link" {%
                        endif %} href="./subscribe">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope me-1" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                        </svg>
                        Subscribe
                    </a>
                </li>
            </ul>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Interdisciplinary
                    </a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://preprint.paper-picnic.com/">Preprint Picnic 🔥</a>
                        <a class="dropdown-item" href="https://nep.repec.org/">NEB: New Economics Papers</a>
                    </ul>                </li> -->
            </ul>
        </div>
    </div>
</nav>