<!doctype html>
<html lang="en">
{% include head.html %}

<body>

  {% assign count_total = 0 %}

  {% assign count_communication = site.data.communication_journals | size %}
  {% assign count_politics = site.data.politics_journals | size %}
  {% assign count_sociology = site.data.sociology_journals | size %}
  {% assign count_multidisciplinary = site.data.multidisciplinary_journals | size %}
  {% assign count_po = site.data.po_journals | size %}
  {% assign count_psych = site.data.psych_journals | size %}

  {% assign count_total = count_total | plus: count_communication %}
  {% assign count_total = count_total | plus: count_politics %}
  {% assign count_total = count_total | plus: count_multidisciplinary %}
  {% assign count_total = count_total | plus: count_sociology %}
  {% assign count_total = count_total | plus: count_po %}
  {% assign count_total = count_total | plus: count_psych %}


  {% include nav.html %}

  <div class="container my-1">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>🗣 Communication Paper Picnic 🧺</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        A basket with the latest published research in communication science. Every day at 2 AM UTC, I query the
        Crossref API for new research articles that appeared in the previous 7 days across {{count_total}} journals in
        communication science and adjacent fields. Additionally, I search major preprint servers for new papers that
        may be of interest to communication science researchers.
      </p>

      <div class="btn-group flex-wrap mt-3" role="group" aria-label="Landing Page Navigation">

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-dark dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
            Baskets
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./communication">Communication</a></li>
            <li><a class="dropdown-item" href="./politics">Politics</a></li>
            <li><a class="dropdown-item" href="./po">Public Opinion</a></li>
            <li><a class="dropdown-item" href="./psych">Psychology</a></li>
            <li><a class="dropdown-item" href="./sociology">Sociology</a></li>
            <li><a class="dropdown-item" href="./multidisciplinary">Multidisciplinary</a></li>
            <li><a class="dropdown-item" href="./preprints">Preprints</a></li>
          </ul>
        </div>

        <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
          Background
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#motivation">Motivation</a></li>
          <li><a class="dropdown-item" href="#backend">Backend</a></li>
          <li><a class="dropdown-item" href="#contribute">Contribute</a></li>
        </ul>
        </div>

      </div>

      <div class="mt-4 p-3 bg-white rounded-3 shadow-sm d-inline-block">
        <p class="mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-heart text-danger me-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l3.235 1.94a2.76 2.76 0 0 0-.233 1.027L1 5.384v5.721l3.453-2.124c.146.277.329.556.55.835l-3.97 2.443A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741l-3.968-2.442c.22-.28.403-.56.55-.836L15 11.105V5.383l-3.002 1.801a2.76 2.76 0 0 0-.233-1.026L15 4.217V4a1 1 0 0 0-1-1zm6 2.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
          </svg>
          <strong>Get it in your inbox</strong>
        </p>
        <p class="text-muted small mb-2">Free email digests with the disciplines you care about.</p>
        <a href="./subscribe" class="btn btn-outline-dark btn-sm">Subscribe</a>
      </div>

    </div>
  </div>



  <div class="container px-4">
    <h3 class="text-center mt-5">Covered Journals</h3>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-start g-5">
      <div class="col">
        <ul class="list-group list-group">
          {% for journal in site.data.communication_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.preprint_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

      </div>
      <div class="col">
        <ul class="list-group list-group">
          {% for journal in site.data.politics_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.po_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.psych_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.sociology_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.multidisciplinary_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-6 mx-auto p-4 py-md-5">
      {{ content }}
    </div>
  </div>


  <div class="modal fade" id="jsonlist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="filterLabel">Public json files</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group mt-3">
          {% for file in site.static_files %}
          {% if file.extname == ".json" -%}
            <li class="list-group-item"><a href="{{ site.baseurl }}{{ file.path }}">{{ file.path }}</a></li>
          {%- endif %}
          {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>